html, body {
  margin: 0;
  padding: 0;
  border: 0;
}

button:hover {
  background: #ED82ED;
  padding: 0.4rem 0.5rem 0.1rem 0.5rem;
  border-bottom: 2px solid #ED83ED;
}

button:active {
  background: #EE26C0;
  color: #FFFFFF;
  border-bottom: 2px solid #EE26C0;
}
/*
.expressionAdder {
  transition: 0.1s;
}

.expressionAdder:hover {
  background: #FFF;
  color: #000;
}
*/